*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fip{
   background-image: url(developer.png);
     height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 

}

#h{
    color: white;
    font-size: 7rem;
 

}
#i{
    color: white;
    font-size: 2rem;
}
.ft{
    
}

#f{
    color: rgb(251, 255, 0);
    font-size: 5rem;
    margin-top: 100px;
    font-weight: bold;
}

/* second */
.box{
    height: 170px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#w{
    font-size: 5rem;
}
#y{
    font-size: 6rem;
    font-weight: bold;
}

/* main */
.main{
    background-color: rgb(255, 255, 255);
    height: 600px;
    display: flex;
    margin-top: 40px;
    /* align-items: center; */
    justify-content: space-evenly;
    gap: 70px;
    margin-left: 60px;
    margin-right: 60px;

    
}
.b{
    height: 500px;
     width: 560px;
     box-sizing: border-box;
     box-shadow: 0.5rem 0.5rem 3rem;
     border-radius: 1rem; 
     
}
.b:hover{
    transform: scale(1.1,1.1);
    transition: 0.6s;
}

.x{
    line-height: 1.6rem;
    font-variant: small-caps;
    font-size: 1.1rem;
}
/* footer */
.div1{
    height: 210px;
    background-color: rgb(62, 98, 5);
    width: 50%;
    float: left;
    color: white;
    font-variant: small-caps;
}
.div1 .n{
    font-weight: bold;
    font-size: 3.1rem;
    margin-left: 20px;
}

.div2{
    height: 210px;
    background-color: rgb(134, 6, 6);
    width: 50%;
    float: right;
    color: white;
    font-variant: small-caps;
}
.div2 .n{
    font-weight: bold;
    font-size: 3.1rem;
    margin-left: 20px;
}

.last{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: black;
    color: white;
    height: 70px;
    clear: both;
}

/* Medai Query */
@media only screen and (max-width: 430px) { 

    .main{
        background-color: rgb(255, 255, 255);
        height: 600px;
        display: flex;
        flex-direction: column;
        margin-top: 600px;
        /* align-items: center; */
        /* justify-content: space-evenly; */
        /* gap: 70px; */
        margin-left: 60px;
        margin-right: 60px;
    
        
    }

    #w{
        font-size: 3rem;
    }
    #y{
        font-size: 4rem;
        font-weight: bold;
    }

    .b{
        height: 800px;
         /* width: 560px; */
         width: 613px;
         box-sizing: border-box;
         box-shadow: 0.5rem 0.5rem 3rem;
         border-radius: 1rem; 
         
    }

    .x{
        margin-top: -1rem;
        line-height: 2rem;
        font-variant: small-caps;
        
    }

    /* .div1{
        margin-top: 700px;
        height: 210px;
        background-color: rgb(62, 98, 5);
        width: 50%;
        float: left;
        color: white;
        font-variant: small-caps;
    }
    .div1 .n{
        font-weight: bold;
        font-size: 3.1rem;
        margin-left: 20px;
    }
    
    .div2{
        margin-top: 700px;
        height: 210px;
        background-color: rgb(134, 6, 6);
        width: 50%;
        float: right;
        color: white;
        font-variant: small-caps;
    }
    .div2 .n{
        font-weight: bold;
        font-size: 3.1rem;
        margin-left: 20px;
    } */
    .fip {
        width: 192%;
        background-image: url(developer.png);
        height: 1200px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .box {
        width: 192%;
        height: 200px;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .div1 {
        /* display: flex; */
        margin-top: 700px;
        height: 293px;
        background-color: rgb(62, 98, 5);
        width: 185%;
        /* float: left; */
        color: white;
        font-variant: small-caps;
        clear: both;
    }
    
    
    .div1 .n{
        font-weight: bold;
        font-size: 3.1rem;
        margin-left: 20px;
    }
    
    .div2{
       
        height: 210px;
        background-color: rgb(134, 6, 6);
        width: 100%;
        /* float: right; */
        color: white;
        font-variant: small-caps;
    }
    .div2 .n{
        font-weight: bold;
        font-size: 3.1rem;
        margin-left: 20px;
    }

    .div1 p{
        font-size: 2rem;
    }
    .last {
        width: 192%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        background-color: black;
        color: white;
        height: 119px;
        clear: both;
    }






}